# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Distribution
/dist/

# Node
node_modules/

# Database dumps
*.sqlite
*.db
*.sql

# Ignore secrets
secrets.json
